RewriteEngine On
RewriteBase /
RewriteCond %{IS_SUBREQ} false

# In case someone hits http://taverna.apache.org/
# make sure they see http://taverna.incubator.apache.org/
# instead (until we graduate! :)
# .. however the staging site should stay
RewriteCond %{HTTP_HOST}   !^taverna\.incubator\.apache\.org$
RewriteCond %{HTTP_HOST}   !^taverna\.staging\.apache\.org$
RewriteCond %{HTTP_HOST}   !^$
RewriteRule ^/(.*)         http://taverna.incubator.apache.org/$1 [L,R]
