Redirect /code/ /download/code/
ErrorDocument 404 /error_pages/404.html

RewriteEngine On
RewriteBase /
RewriteCond %{IS_SUBREQ} false
#RewriteRule ^(.*)\.html$ $1 [R]
RewriteRule ^(.*)/index $1 [L,R]
RewriteRule ^/community/contact.* /community/lists [L,R]
RewriteRule ^/contact.* /community/lists [L,R]
