Options -MultiViews

RewriteEngine On
RewriteBase /ns/2010


## http://ns.taverna.org.uk/2010/scufl2#
# Strip /
RewriteRule ^scufl2/$ scufl2 [R=303]
# For all terms 
RewriteRule ^scufl2/.+ scufl2 [R=303]
#
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^scufl2$ scufl2.rdf
#
RewriteCond %{HTTP_ACCEPT} text\.+turtle
RewriteRule ^scufl2$ scufl2.ttl
#
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^scufl2$ http://dev.mygrid.org.uk/wiki/display/developer/Scufl2+Ontology
# Default
RewriteRule ^scufl2$ scufl2.ttl 
