RewriteEngine On


# Correct hostname? We're still in the incubator..
RewriteCond %{HTTP_HOST} taverna.apache.org
RewriteRule .* https://taverna.incubator.apache.org%{REQUEST_URI} [L,R=301]

# OK.. perhaps it's the right hostname.. but do we have https?
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} taverna.incubator.apache.org
RewriteRule .* https://taverna.incubator.apache.org%{REQUEST_URI} [L,R=301]
