                <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
					  <li><a href="/download">Which Taverna to use</a></li>
            <li><a href="/download/language">Apache Taverna Language</a></li>
					  <li><a href="/download/osgi">Apache Taverna OSGi</a></li>
					  <li><a href="/download/command-line-tool">Apache Taverna Command Line</a></li>
					  <li><a href="/download/server">Apache Taverna Server</a></li>
            <li><a href="/download/workbench">Taverna Workbench</a></li>
					  <li><a href="/documentation/plugins">Plugins</a></li>
					  <li><a href="/download/code">Source Code</a></li>
					  <li><a href="/download/maven">Maven Repository</a></li>
					  <li><a href="/download/system-requirements">System Requirements</a></li>
					  <li><a href="/download/pre-apache">Taverna 2.x (Pre-Apache)</a></li>
				  </ul>
				</li>
                <li class="dropdown">
					<a href="/community" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
					  <li><a href="/community">Community home</a></li>
					  <li><a href="/community#mailinglists">Mailing Lists</a></li>
					  <li><a href="/community#contribute">Contribute</a></li>
					  <li><a href="/community#reportbugs">Report a Bug</a></li>
				  </ul>
				</li>
            </ul>

              <form >


                      <!--<input type="submit" id="submit" value="Search">-->
                    </form>

              <form class="navbar-form navbar-right" role="search"
                  name="search" id="search" action="http://www.google.com/search" method="get">
                      <input value="taverna.incubator.apache.org" name="sitesearch" type="hidden"/>
                      <div class="form-group input-group">
                          <input type="text" name="q" id="query" placeholder="Search" class="form-control">
						  <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
						  </span>
                      </div>
              </form>

             <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="http://www.apache.org/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ASF<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.apache.org/">Apache Software Foundation</a></li>
                    <li><a href="http://www.apache.org/foundation/how-it-works.html">How it works</a></li>
                    <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
                    <li><a href="http://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a></li>
                    <li><a href="http://incubator.apache.org/projects/taverna.html">Taverna Incubation Status</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-->
      </nav>
