<ul class="nav nav-pills nav-stacked">               
   <li><a href="/documentation/scufl2">Scufl2 home</a></li>
   <li><a href="/documentation/scufl2/bundle">Workflow Bundle</a></li>
   <li><a href="/documentation/scufl2/workflow">Workflow</a></li>
   <li><a href="/documentation/scufl2/profile">Profile</a></li>
   <li><a href="/documentation/scufl2/taverna_bundle">Taverna Bundle</a></li>
   <li><a href="/documentation/scufl2/datalink">Datalink</a></li>
   <li><a href="/documentation/scufl2/api">API</a></li>
   <li><a href="/documentation/scufl2/language">Language</a></li>
   <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/ns">Namespace
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/ns">Namespace home</a></li>
      <li><a href="/ns/2008/xml/t2flow/">t2flow</a></li>
	  <li><a href="/ns/2010/scufl2/">sculf2</a></li>
      <li><a href="/ns/2010/taverna/">taverna</a></li>
	  <li><a href="/ns/2010/workflowBundle/">workflowBundle</a></li>
	  <li><a href="/ns/2011/data/">data</a></li>
	  <li><a href="/ns/2011/run/">run</a></li>
	  <li><a href="/ns/2012/component/">component</a></li>
	  <li><a href="/ns/2015/ore">ore</a></li>
    </ul>
   </li>
   <li><a href="/documentation/scufl2/uris">URIs</a></li>
   <li><a href="/documentation/scufl2/ontology">Ontology</a></li>
   <li><a href="/download/language">Download</a></li>
</ul>
