               <li class="dropdown">
					<a href="/documentation/scufl2" data-toggle="dropdown" role="button" aria-expanded="false">Scufl2<span class="caret"></span></a>
					<ul class="dropdown-menu"  role="menu">
					   <li><a href="/documentation/scufl2/language">Language</a></li>
					   <li><a href="/documentation/scufl2/bundle">Workflow Bundle</a></li>
					   <li><a href="/documentation/scufl2/workflow">Workflow</a></li>
					   <li><a href="/documentation/scufl2/profile">Profile</a></li>
					   <li><a href="/documentation/scufl2/taverna_bundle">Taverna Bundle</a></li>
					   <li><a href="/documentation/scufl2/datalink">Datalink</a></li>
					   <li><a href="/documentation/scufl2/api">API</a></li>
					   <li><a href="/ns">namespaces</a></li>
						<li><a href="/documentation/scufl2/uris">URIs</a></li>
                       <li><a href="/documentation/scufl2/ontology">Ontology</a></li>
				       <li><a href="/download/language">Download</a></li>
					</ul>
				</li>
