          <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="/"><img src="/img/taverna-logo-145x134.png" alt="">Apache Taverna</a>
			  
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">              
                <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Introduction<span class="caret"></span></a>
					<ul class="dropdown-menu"  role="menu">
					   <li><a href="/introduction/">Introduction</a></li>
					   <li><a href="/introduction/taverna-features.html">Taverna features</a></li>
					   <li><a href="/introduction/why-use-workflows.html">Why use workflows?</a></li>
					   <li><a href="/introduction/what-is-in-silico-experimentation.html">What is ‘in silico’ experimentation?</a></li>
					   <li><a href="/introduction/what-is-a-workflow-management-system.html">What is a Workflow Management System?</a></li>
					   <li><a href="/introduction/how-can-taverna-help-me.html">How can Taverna help me?</a></li>
					   <li><a href="/introduction/services-in-taverna.html">Services in Taverna</a></li>
					   <li><a href="/introduction/related-projects.html">Related projects</a></li>
					   <li><a href="/introduction/chemistry-web-services.html">Chemistry-web-services</a></li>
                       <li><a href="/introduction/taverna-in-use/">Taverna in use</a></li>
				       <li><a href="/introduction/works-with.html">Works with...</a></li>
                       <li><a href="/introduction/roadmap.html/">Raod Map</a></li>
						
					</ul>
				</li>
                <li><a href="/about/">About</a></li>
                <li class="dropdown">
					<a href="/download/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
					  <li><a href="/download/">Apache Taverna 3.x</a></li>
					  <li><a href="/download/pre-apache.html">Taverna 2.x (Pre-Apache)</a></li>
				  </ul>
				</li>
                <li><a href="/doc/">Documentation</a></li>
                <li><a href="/code/">Code</a></li>            
                <li><a href="/contact/">Contact</a></li>
            </ul>
             
              <form >
                      
                      
                      <!--<input type="submit" id="submit" value="Search">-->
                    </form>
              
              <form class="navbar-form navbar-right" role="search"
                  name="search" id="search" action="http://www.google.com/search" method="get">
                      <input value="taverna.incubator.apache.org" name="sitesearch" type="hidden"/>
                      <div class="form-group input-group">
                          <input type="text" name="q" id="query" placeholder="Search" class="form-control">
						  <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
						  </span>
                      </div>                  
              </form>

             <ul class="nav navbar-nav navbar-right">                
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ASF<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.apache.org/">Apache Software Foundation</a></li>
                    <li><a href="http://www.apache.org/foundation/how-it-works.html">How it works</a></li>
                    <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
                    <li><a href="http://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a></li>
                    <li><a href="http://incubator.apache.org/projects/taverna.html">Taverna Incubation Status</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-->
      </nav>
