Options -MultiViews

RewriteEngine On
RewriteBase /ns/2010/scufl2/


## http://ns.taverna.org.uk/2010/scufl2#

#
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ scufl2.rdf [R=303,L]
#
RewriteCond %{HTTP_ACCEPT} text\.+turtle
RewriteRule ^$ scufl2.ttl [R=303,L]
#
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^$ http://dev.mygrid.org.uk/wiki/display/developer/Scufl2+Ontology [R=303,L]
#
RewriteCond %{HTTP_ACCEPT} application/xml
RewriteRule ^$ scufl2.xsd [R=303,L]
# Default is the ontology
RewriteRule ^$ scufl2.ttl [R=303,L]

# For all other terms - ensure it's not a file
# and then send to above rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+) /ns/2010/scufl2/ [R=303]
